@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext'); :root {
    --main-background-color: #FFB6C1; --main-font-color: #DB0DBA; --heading-font-family: 'Lobster', cursive; }

body {
    background-color: var(--main-background-color);
}

header h1.main-header {
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-size: 60px;
    padding-bottom: 20px;
}

@media (max-width: 850px) {
    header h1 {
        margin-left: 30px;
        margin-right: 30px;
    }
}

header nav {
    font-family: var(--heading-font-family);
    border-bottom: var(--main-font-color);
}

header .first-line {
    display: flex;
    justify-content: center;
    height: 30px;
}

header .first-line h6 {
    margin: 20px;
    justify-content: flex-end;
}

header #nav-tab a {
    font-family: var(--heading-font-family);
}

main #carouselExampleCaptions div h5 #text {
    color: var(--main-font-color);
}

main #carouselExampleCaptions div p {
    color: var(--main-font-color);
}

main div .modal-dialog .modal-sm div .modal-content p #phones {
    font-size: xx-large ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DB0DBA;
}

main div .main-button {
    display: flex;
    justify-content: center!important;
}

main div.main-button .button.btn-primary.btn-lg {
    color: var( --main-font-color);
    margin: 15px;
}

footer a img.image-logo {
    width: 30px;
    height: auto;
    margin-left: 15px;
}

@media (max-width: 500px) {
    footer p.logos {
        display: flex;
        flex-direction: row;
    }
}
